#winModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
}

.modal-content {
  background-color: #f8e3a1; /* Light yellow background color */
  margin: 20% auto;
  padding: 20px;
  border: 2px solid #776e65; /* Border color */
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth effect */
}

h2 {
  color: #776e65; /* Header text color */
}

#modalScore {
  color: #8f7a66; /* Score text color */
  font-weight: bold;
  font-size: 1.2em;
}

button {
  background-color: #8f7a66; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #776e65; /* Button background color on hover */
}
